<div>
  <% if user_signed_in? %>
    <nav class="container py-5">
      <div class="d-flex gap-3">
        <div><%= link_to '<button class = "btn btn-outline-secondary btn-lg p-2 px-3" type="button"><i class="bi bi-eye-fill"></i> ANÁLISES</button>'.html_safe, analytics_path %></div>
        <div><%= link_to '<button class = "btn btn-outline-secondary btn-lg p-2 px-3" type="button"><i class="bi bi-arrow-left-right"></i> ENTRADAS & SAÍDAS</button>'.html_safe, "transactions#index" %></div>
        <div class="ms-auto"><%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-light btn-outline-secondary btn-lg p-2 px-3'%></div>
      </div>
    </nav>
  <% end %>
</div>
